body{
    /* background-image: url(/heroapp/static/images/b5.jpg) !important; */
    padding-top: 4rem;
    background-color: rgba(0, 0, 0, 0.295);
    background-repeat: no-repeat;
    background-size: cover;
}
#header{
    color:#fff;
    text-shadow: 0 0 10px #000000 ,0 0 12px #0480d3;
    border-radius: 0px;
    background: none;
    /* background: url(images/bg1.jpg); */
    /* background-repeat: no-repeat; */
    /* background-size: 100% 100%; */
    /* background-position: center; */
}
#header h1{
    padding-top: 5rem;
}
#header p{
    padding-bottom: 3rem;
}
.card-image-top{
    height: 22rem;
 }
 span{
     padding-right: 2rem;
 }
 #nice{
     color: seashell;
     border-color: seashell;
 }
 .card{
    background-color: rgba(246, 247, 248, 0.671);
 }

