{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/phantom.png' %}" type = "image/png"/>
    <title>The Phantom</title>
    <link rel="stylesheet" type="text/css" href="{% static 'sup.css' %}">
</head>
<body>
    <button id="huh">fill</button>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'sup.js' %}"></script>
</body>
</html>